{%- if card_product and card_product != blank -%}

  {%- liquid

    assign snippet_name = 'card-product'
    assign snippet_classes = snippet_name

    if classes != blank
      assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes
    endif

    assign image_1 = card_product.images[0] | default: false
    assign image_2 = card_product.images[1] | default: false
    assign title = card_product.title
    assign url = card_product.url

  -%}

  <div class="{{ snippet_classes }}">

    <div class="{{ snippet_name }}__images">
      <a href="{{ url }}" title="{{ title }}" target="_self">
        {% if image_1 %}
          <div class="{{ snippet_name }}__image-01">
            <img
              srcset="{%- if image_1.width >= 165 -%}{{ image_1 | image_url: width: 165 }} 165w{%- endif -%}
                {%- if image_1.width >= 375 -%},{{ image_1 | image_url: width: 375 }} 375w{%- endif -%}
                {%- if image_1.width >= 550 -%},{{ image_1 | image_url: width: 550 }} 550w{%- endif -%}
                {%- if image_1.width >= 750 -%},{{ image_1 | image_url: width: 750 }} 750w{%- endif -%}
                {%- if image_1.width >= 1100 -%},{{ image_1 | image_url: width: 1100 }} 1100w{%- endif -%},
                {{ image_1 | image_url }} {{ image_1.width }}w"
              src="{{ image_1 | image_url: width: 550 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ image_1.alt | escape | split: '#' | first }}"
              loading="{% if lazy_load == false %}auto{% else %}lazy{% endif %}"
              width="{{ image_1.width }}"
              height="{{ image_1.height }}"
            />
          </div>
        {% endif %}
        {% if image_2 %}
          <div class="{{ snippet_name }}__image-02">
            <img
              srcset="{%- if image_2.width >= 165 -%}{{ image_2 | image_url: width: 165 }} 165w{%- endif -%}
                {%- if image_2.width >= 375 -%},{{ image_2 | image_url: width: 375 }} 375w{%- endif -%}
                {%- if image_2.width >= 550 -%},{{ image_2 | image_url: width: 550 }} 550w{%- endif -%}
                {%- if image_2.width >= 750 -%},{{ image_2 | image_url: width: 750 }} 750w{%- endif -%}
                {%- if image_2.width >= 1100 -%},{{ image_2 | image_url: width: 1100 }} 1100w{%- endif -%},
                {{ image_2 | image_url }} {{ image_2.width }}w"
              src="{{ image_2 | image_url: width: 550 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ image_2.alt | escape | split: '#' | first }}"
              loading="{% if lazy_load == false %}auto{% else %}lazy{% endif %}"
              width="{{ image_2.width }}"
              height="{{ image_2.height }}"
            />
          </div>
        {% endif %}
      </a>
    </div>

    <div class="{{ snippet_name }}__information">
      <strong class="{{ snippet_name }}__product-title heading--2">
        <a class="{{ snippet_name }}__product-title-link link" href="{{ url }}" target="_self" title="{{ card_product.title | escape }}">{{ card_product.title | escape }}</a>
      </strong>
      {% render 'custom-price', classes: 'card-card_product__card_product-price', card_product: card_product %}
    </div>

  </div>

{%- endif -%}
