{%- liquid

    assign section_name = 'image-grid'
    assign section_id = section_name | append: '--' | append: section.id

    assign heading = section.blocks | where: "type", "heading" | default: ''
    assign images = section.blocks | where: "type", "image" | default: false
		assign section_background = section.settings.background | default: 'not-set'

-%}

{%- style -%}

  #shopify-section-{{ section.id }} {
    background: rgba(var(--theme-colour-{{ section_background }}), 1);
    {% case section_background %}
      {% when 'orange' %}
        color: rgba(var(--theme-colour-black), 1);
      {% when 'white' %}
        color: rgba(var(--theme-colour-black), 1);
      {% else %}
        color: rgba(var(--theme-colour-white), 1);
    {% endcase %}
  }

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<link rel="stylesheet" href="{{ 'custom-image-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-image-grid.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="section-{{ section.id }}-padding{% if section.settings.show_divider %} section--divider{% endif %}"
	data-section-background="{{ section_background }}"
  >

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}

        {%- assign heading = block.settings.heading | default: '' -%}
        {%- assign style = block.settings.style | default: 'primary' -%}

        {% if heading != blank %}
          <h2 class="{{ section_name }}__heading uppercase heading--{{ style }}">{{ heading }}</h2>
        {% endif %}

    {% endcase %}
  {% endfor %}

  {% if images %}
    <div class="{{ section_name }}__main" data-image-count="{{ images.size }}">
      {% for item in images %}

        {%- assign image = item.settings.image | default: false -%}

        {% if image %}
          <div class="{{ section_name }}__item" data-image-index="{{ forloop.index }}">
            <img
              srcset="{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w{%- endif -%}
                {%- if image.width >= 375 -%},{{ image | image_url: width: 375 }} 375w{%- endif -%}
                {%- if image.width >= 550 -%},{{ image | image_url: width: 550 }} 550w{%- endif -%}
                {%- if image.width >= 750 -%},{{ image | image_url: width: 750 }} 750w{%- endif -%}
                {%- if image.width >= 1100 -%},{{ image | image_url: width: 1100 }} 1100w{%- endif -%},
                {{ image | image_url }} {{ image.width }}w"
              src="{{ image | image_url: width: 550 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ image.alt | escape | split: '#' | first }}"
              loading="{% if lazy_load == false %}auto{% else %}lazy{% endif %}"
              width="{{ image.width }}"
              height="{{ image.height }}"
            />
          </div>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}

</div>

{% schema %}
{
	"name": "Image Grid",
	"tag": "section",
	"class": "section image-grid",
	"settings": [
		{
			"label": "Background",
			"type": "select",
			"options": [
				{
					"value": "black",
					"label": "Black"
				},
				{
					"value": "orange",
					"label": "Orange"
				},
				{
					"value": "white",
					"label": "White"
				}
			],
			"default": "black",
			"id": "background"
		},
		{
			"label": "Link",
  		"type": "url",
  		"id": "link"
		},
		{
			"content": "Section Padding",
			"type": "header"
		},
		{
			"label": "Top Padding",
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "t:sections.all.padding.padding_top.unit",
			"default": 36
		},
		{
			"label": "Bottom Padding",
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "t:sections.all.padding.padding_bottom.unit",
			"default": 36
		}
	],
	"blocks": [
		{
			"name": "Heading",
			"type": "heading",
			"limit": 1,
			"settings": [
				{
					"label": "Heading",
					"type": "text",
					"default": "Talk about your brand",
					"id": "heading"
				},
				{
					"label": "Style",
					"type": "select",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						}
					],
					"default": "primary",
					"id": "style"
				}
			]
		},
		{
			"name": "Image",
			"type": "image",
			"limit": 4,
			"settings": [
				{
					"label": "Image",
					"type": "image_picker",
					"id": "image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Image Grid",
			"blocks": [
				{
					"type": "heading"
				}
			]
		}
	]
}
{% endschema %}
