{%- liquid

  assign section_name = 'menu-drawer'
  assign section_id = section_name | append: '--' | append: section.id

  assign menus = section.blocks | where: "type", "menu" | default: false

-%}

{%- style -%}

  #shopify-section-{{ section.id }} {
    background: rgba(var(--theme-colour-{{ section.settings.background }}), 1);
    {% case section.settings.background %}
      {% when 'orange' %}
        color: rgba(var(--theme-colour-black), 1);
      {% when 'white' %}
        color: rgba(var(--theme-colour-black), 1);
      {% else %}
        color: rgba(var(--theme-colour-white), 1);
    {% endcase %}
  }

{%- endstyle -%}

<div class="{{ section_name }}__main">

  <div class="{{ section_name }}__header">
    <button class="{{ section_name }}__mobile-menu-button button js-toggle-menu-drawer" type="button">
      <span class="button__title">++</span>
    </button>
  </div>

  <div class="{{ section_name }}__content">

    {% if menus %}
      {% for item in menus %}

        {%- liquid
          assign include_cart_link = item.settings.include_cart_link | default: false
          assign style = item.settings.style | default: 'primary'
          assign menu = item.settings.menu | defaul: false
        -%}

        {% if menu %}
          <nav class="{{ section_name }}__navigation navigation navigation--{{ style }}" role="menu">
            {% for link in linklists[menu].links -%}

              {%- liquid

                  assign active = link.active
                  assign external = false
                  assign target = '_self'
                  assign title = link.title
                  assign url = link.url

                  if url contains 'http'
                    assign external = true
                    assign target = '_blank'
                  endif

                -%}

              <div class="navigation__item">
                <a class="navigation__link link{% if active %} active{% endif %}{% if external %} external{% endif %}" href="{{ url }}" target="{{ target }}" title="{{ title }}">
                  <span class="navigation__link-title link__title">{{ title }}</span>
                </a>
              </div>

            {%- endfor %}

            {% if include_cart_link %}
              <div class="navigation__item">
                <a class="navigation__link link" href="/cart" target="_self" title="Cart">
                  <span class="navigation__link-title link__title">Cart (<span class="js-cart-items-total">{{ cart.item_count }}</span>)</span>
                </a>
              </div>
            {% endif %}

          </nav>
        {% endif %}

      {% endfor %}
    {% endif %}


    <div class="{{ section_name }}__copyright">
      <p>&copy; {{ shop.name }} {{ "now" | date: "%Y" }}<br/>All Rights Reserved.</p>
    </div>

  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Menu Drawer",
    "tag": "section",
    "class": "menu-drawer",
    "settings": [
      {
			  "label": "Background",
			  "type": "select",
			  "options": [{
					  "value": "black",
					  "label": "Black"
				  },
				  {
					  "value": "orange",
					  "label": "Orange"
				  },
				  {
					  "value": "white",
					  "label": "White"
				  }
			  ],
			  "default": "black",
			  "id": "background"
		  }
    ],
	  "blocks": [
      {
			  "name": "Menu",
			  "type": "menu",
			  "settings": [
          {
			      "label": "Style",
			      "type": "select",
			      "options": [
              {
                "label": "Primary",
					      "value": "primary"
				      },
				      {
                "label": "Secondary",
					      "value": "secondary"
				      }
			      ],
			      "default": "primary",
			      "id": "style"
		      },
          {
					  "label": "Menu",
					  "type": "link_list",
					  "id": "menu"
				  },
          {
            "label": "Include cart link",
					  "type": "checkbox",
            "default": false,
            "id": "include_cart_link"
				  }
        ]
      }
    ]
  }
{% endschema %}
